<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE - Nhà hàng">Nhà hàng</title>
</head>
<body>
<!-- Header chung -->
<header>
    <h1> Nhà hàng ABC</h1>
    <hr/>
</header>

<!-- Nội dung thay đổi -->
<main layout:fragment="content">
    <!-- Nội dung riêng của từng trang sẽ được chèn vào đây -->
</main>

<!-- Footer chung -->
<footer>
    <hr/>
    <p>Liên hệ: 0123-456-789 | Email: info@nhahangabc.com</p>
</footer>
</body>
</html>