<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-layout">

<div layout:fragment="content">

  <h2>Danh sách sách</h2>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Tác giả</th>
      <th>Giá</th>
    </tr>

    <tr th:each="b : ${books}">
      <td th:text="${b.id}"></td>
      <td>
        <a th:href="@{/books/{id}(id=${b.id})}"
           th:text="${b.name}"></a>
      </td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td>
    </tr>
  </table>

</div>

</html>